@import '../../assets/variables';

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45% 0 80px;
  color: #fff;
  text-align: center;
  background: url(../../assets/left-wave.svg) no-repeat left 400px;
  min-height: 100vh;

  .logo-login {
    width: 60%;
  }

  .text {
    margin: 20px 0;
    color: $blue;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .field {
      position: relative;
      display: flex;
      flex-direction: column;
      color: $grey;
      margin: 10px 0;

      input {
        border: none;
        border-radius: 6px;
        font-weight: 400;
        color: $light-gray;
        font-size: 12px;
        padding: 10px 0;
        text-align: center;
        background-color: $background;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        margin-top: 5px;
      }

      .icon-relative {
        position: relative;
        width: fit-content;
        align-self: center;

        .show-pass-icon {
          position: absolute;
          display: flex;
          right: 10px; bottom: 10px;
          cursor: pointer;
        }
      }
    }

    .field-submit {
      margin-top: 20px;
    }

    .submit-button {
      width: 148px;
      padding: 10px 15px;
      background-color: $red;
      border-radius: 7px;
      color: #fff;
      font-weight: 600;
      border: none;
      cursor: pointer;

      &:hover{
        background-color: $light-red;
      }
    }
  }

  .sign-up {
    margin-top: 35px;
    color: $blue;

    a {
      color: #5639B3;
      font-weight: bold;
    }
  }
}

.erro {
  color: $light-red;
  font-size: 0.8em;
  margin-top: 5px;
}

.forget-pass-link {
  color: $red;
  text-decoration: underline;

  &:hover, &:visited {
    color: $light-red;
  }
}

@media only screen and (min-width: $medium-device) {
  .paws {
    height: 269px;
    width: 12em;
  }
  
  .login-container {
    padding: 30% 0 80px;
    background: url(../../assets/right-wave.svg) no-repeat right 200px/7em;
    min-height: 100vh;

    .logo-login {
      width: 40%;
    }

    .form-container {
      width: 350px;
       
      .form {
        width: 100%;

        .field {
          width: 350px;

          input {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $large-device) {
  .login-container {
    padding: 10% 0 80px;
    background: url(../../assets/right-wave.svg) no-repeat right 200px/7em;
    height: 150vh;

    .logo-login {
      width: 65%;
    }

    .form-container {
      .form {
        .field {
          label {
            font-weight: 600;
          }

          input {
            font-size: 16px;
          }
        }
      }
    }
  }
}