@import '../../assets/variables';

.paws {
  position: absolute;
  top: 0; right: 0;
  z-index: 9;
}

.register-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45% 0 80px;
  color: #fff;
  text-align: center;
  background: url(../../assets/left-wave.svg) no-repeat left 400px;

  .logo-register{
    width: 60%;
    margin-bottom: 20px;
  }

  .text {
    color: $blue;
    padding: 0 20px;

    p {
      margin: 10px 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .field {
      position: relative;
      display: flex;
      flex-direction: column;
      color: $grey;
      margin: 10px 0;

      input {
        border: none;
        border-radius: 6px;
        font-weight: 400;
        color: $light-gray;
        font-size: 12px;
        padding: 10px 0;
        text-align: center;
        background-color: $background;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        margin-top: 5px;
      }

      .icon-relative {
        position: relative;
        width: fit-content;
        align-self: center;

        .show-pass-icon {
          position: absolute;
          display: flex;
          right: 10px; bottom: 10px;
          cursor: pointer;
        }
      }
    }

    .submit-button {
      width: 148px;
      padding: 10px 15px;
      background-color: $red;
      border-radius: 7px;
      color: #fff;
      font-weight: 600;
      border: none;
      cursor: pointer;
      margin-top: 20px;

      &:hover{
        background-color: $light-red;
      }
    }
  }
}

@media only screen and (min-width: $medium-device) {
  .paws {
    height: 269px;
    width: 12em;
  }
  
  .register-container {
    padding: 30% 0 80px;
    color: #fff;
    text-align: center;
    background: url(../../assets/right-wave.svg) no-repeat right 200px/7em;
    min-height: 100vh;

    .logo-register {
      width: 40%;
    }

    .text {
      padding: 0 140px;
    }

    .form-container {
      width: 350px;
       
      .form {
        width: 100%;

        .field {
          width: 350px;

          input {
            font-size: 14px;
          }
        }
      }
    }
    
  }
}

@media only screen and (min-width: $large-device) {
  .register-container {
    padding: 10% 0 80px;
    color: #fff;
    text-align: center;
    background: url(../../assets/right-wave.svg) no-repeat right 200px/7em;
    height: 150vh;

    .logo-register {
      width: 30%;
    }

    .text {
      padding: 0 340px;
    }

    .form-container {
      width: 350px;
       
      .form {
        width: 100%;

        .field {
          width: 350px;

          label {
            font-weight: 600;
          }

          input {
            font-size: 16px;
          }
        }
      }
    }
    
  }
}