@import '../../assets/variables';

.top-left-wave {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 22em;
}

.main-header {
  padding: 40px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .user-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid #3773ffaf;
    border-radius: 50%;
  }

  .nav-right {
    display: flex;
    align-items: center;
    z-index: 3;
    gap: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logout-button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: bold;
      padding: 5px 10px;
      gap: 5px;
      color: $blue;
      background: none;
      border: none;
      border-radius: 5px;
      transition: all .2s;

      &:active {
        background-color: $background;
      }
    }
  }

  .nav {
    display: flex;
    position: relative;
    align-items: center;
    gap: 60px;
    z-index: 9;

    .nav-logo {
      display: none;
    }
  }
}

@media only screen and (min-width: $medium-device) {
  .top-left-wave {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 32em;
  }

  .main-header {
    .nav {
      .nav-logo {
        display: block;
        width: 128px;
      }
    }
  }
}

@media only screen and (min-width: $large-device) {
  .main-header {
    .nav {
      padding-left: 40px;
    }

    .logout-button {

      &:hover {
        background-color: $background;
      }
    }

  }
}