@import '../../assets/variables';

.top-left-wave {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 22em;
}

.main-header {
  padding: 40px;
  position: absolute;
  width: 100%;

  .user-icon {
    position: absolute;
    top: 30px; right: 30px;
    z-index: 99;
    cursor: pointer;
  }

  .nav {
    display: flex;
    position: relative;
    align-items: center;
    gap: 60px;
    z-index: 9;

    .nav-logo {
      display: none;
    }
  }
}

@media only screen and (min-width: $medium-device) {
  .top-left-wave {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 32em;
  }

  .main-header {
    .nav {
      .nav-logo {
        display: block;
        width: 128px;
      }
    }
  }
}

@media only screen and (min-width: $large-device) {
  .main-header {
    .nav {
      padding-left: 40px;
    }

    .user-icon {
      margin-right: 6em;
    }
  }
}