@use '../../assets/variables' as *;

footer {
  position: absolute;
  text-align: center;
  background-color: $green;
  width: 100%;
  padding: 40px 20px;
  color: #fff;
  font-weight: 400;
  z-index: 99;
  a {
    color: #fff;
  }
}