/* Mobile First - Responsive Breakpoints*/
$small-device: 320px;
$medium-device: 768px;
$large-device: 1200px;

/* Colors */
$blue: #3772FF;
$green: #36D6AD;
$red: #FC7071;
$cream: #FCF0E3;
$grey: #737380;
$light-gray: #BCBCBC;
$background: #F6F6F6;